<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

  <p>
    <mat-form-field appearance="outline">
      <mat-label>First name</mat-label>
      <input matInput
             type="text"
             id="firstName"
             formControlName="firstName"
             placeholder="Martin">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>
      <input matInput
             type="text"
             id="lastName"
             formControlName="lastName"
             placeholder="Lund">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Age </mat-label>
      <input matInput
             type="number"
             id="age"
             formControlName="age"
             placeholder="1">
    </mat-form-field>
  </p>

  <button type="submit" mat-raised-button [disabled]="!form.valid">Gem</button>

  <div *ngIf="form.get('firstName').hasError('pattern')">
    <p class="mat-error">First name cannot contain numbers</p>
  </div>

  <div *ngIf="form.get('firstName').hasError('required')">
    <p class="mat-error">First name must be specified</p>
  </div>

  <div *ngIf="form.get('lastName').hasError('pattern')">
    <p class="mat-error">Last name cannot contain numbers</p>
  </div>

</form>
